<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.lapse.PerceptionInstrumentation</string>
	<string>0</string>
	<string>64568.4</string>
	<string>10.7.2</string>
	<string>jU0opVOxJnKHgGJxzu3HH9Ka2mKJK05vK7Y5UW3LtgM=</string>
</array>
</plist>
